@model ISMNewsPortal.Models.AdminViewModelCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Admin list</h1>
@if (Model.AdminViewModels.Any())
{
    foreach (ISMNewsPortal.Models.AdminViewModel adminView in Model.AdminViewModels)
    {
        <hr />
        <div class="news-item">
            <h2>Login: @adminView.Login</h2>
            <p>Admin Id: @adminView.Id</p>
            <p>Email: @adminView.Email</p>
            <p>Access: @adminView.AdminAccess</p>
        </div>

    }
}