@model ISMNewsPortal.Models.CommentViewModelCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Comments list</h1>
@if (Model.CommentViewModels.Any())
{
    foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.CommentViewModels)
    {
        <hr />
        <div class="news-item">
            <h2>ID: @comment.Id</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <!--Стилізувати!-->
                <p>@comment.Author</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @comment.Text
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        @comment.Date
                    </small>
                </p>
            </div>
        </div>
    }
}
else
{
    <p>No comments</p>
}