@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Admin page";
}

<h1>Wellcome to the admin panel!</h1>

<p>
    On this page you will be able to manage news posts, comments and users.
</p>
