@{
    ViewBag.Title = "About ACME COSMETICS";
}

<h3>@ViewBag.Title</h3>

<p>
    Cosmetics has been around for over a hundred thousand years,
    and beauty is just developing. What began with red color
    earth is currently a captivating universe of establishment,
    rouge, lipstick, redden, mascara, eye shadow, eye liner,
    eye caramba!
</p>
<p>
    Meet ACME COSMETICS, an amazing blend of innovation and beauty.
    An entry which conveys the best of both the universes.
</p>
