@{
    Layout = null;
    ViewBag.Title = "Error 404";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
    <link href="~/Content/Error404.css" rel="stylesheet" />
</head>
<body>
    <div class="center">
        <h1>404</h1>
        <p>This page could not be found</p>
    </div>
</body>
</html>
