@model ICollection<ISMNewsPortal.Models.NewsPostSimplifyView>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ACME COSMETICS</h1>
</div>

<div class="wrapper">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown drop-flex">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Today</a>
                        <a class="dropdown-item" href="#">Yesterday</a>
                        <a class="dropdown-item" href="#">This week</a>
                        <a class="dropdown-item" href="#">All</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Name</a>
                        <a class="dropdown-item" href="#">Description</a>
                        <a class="dropdown-item" href="#">Date</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    @if (Model.Any())
    {
        foreach (ISMNewsPortal.Models.NewsPostSimplifyView newsPost in Model)
        {
            <div class="card news-item">
                @Html.Partial("~/Views/News/_NewsSimplifyPartial.cshtml", newsPost)
            </div>
        }
    }
    @for (int i = 0; i </*Сюда количество новостей из базы*/ 5; i++)
    {
        <div class="card news-item">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="https://lh3.googleusercontent.com/proxy/FlMq-NIbWqI4b-bREy8MfgzoeE4R-5oIN2ljGOL89A-urybyEDVNyyRI7QIw-zUmpo3tsD-7ee6o04EX73n7WNrghuWQ032vxMfLMVGGUpZU9HG6Dc4caBwTJYeIfoZnIyP40q2HGNwrn2hTXhFXPPcEz6I970F0wRJL8-gtV1wVzGE4lSlGbyaTkfSY01onRfgEX_yBrBNcP2AUefkqha1b2pT4MOQq2PXu6nw2BJI0N6mgWiyB" alt="new-image" width="100%" />
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">
                                Here is name
                            </a>
                        </h5>
                        <p class="card-text">And here is description bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>