@model ISMNewsPortal.Models.CommentViewModel

<div class="card" id="comment_@Model.Id">
    <div class="card-header">
        <p>@Model.Author</p>
    </div>
    <div class="card-body">
        <p class="card-text">
            @Model.Text
        </p>
        <p class="card-text">
            <small class="text-muted date_field js_date">
                @Model.Date.ToString("u").Replace('-', '/')
            </small>
        </p>
    </div>
    <div class="card-footer">
        @if (User.IsInRole(ISMNewsPortal.Models.Roles.Moderator.ToString()))
        {
            @Ajax.ActionLink(Language.Language.Delete, "DeleteComment", "News", new { @id = Model.Id, @newsPostId = Model.NewsPostId }, new AjaxOptions()
   {
       OnSuccess = $"SuccessRemoveComment('comment_{@Model.Id}')"
   }, new { @class = "btn btn-outline-danger" })
        }
    </div>
</div>