
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="errorHeader">
        <h1>Oops... Seems like there's a trouble</h1>
        <img src="~/App_Data/Files/cat.jpg" alt="Crying cat" width="400" height="400" />
        <p>Everything is fine, just try again and be careful with your actions. Maye they are incorrect:)</p>
    </div>
</body>
</html>
