body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header .nav-item {
    margin-left: 20px;
}

header .navbar-light a {
    color: black;
    font-size: 24px;
}

header .navbar-light a.navbar-brand {
    color: red;
    font-size: 28px;
}

footer a {
    color: black;
    margin-left: 10px;
}

footer a:hover {
    color: red;
    text-decoration: none;
}

header .logout {
    margin-left: 20px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.news-item>img{
    float:left;
    padding: 0 10px 10px 0;
}

.news-item > a {
    color: red;
    font-size: 28px;
}

.news-item > p {
    color: darkslategrey;
    font-size: 20px;
}

.news-item > a:hover {
    text-decoration: none;
    color: black;
}

.dropdown-item:active {
    background-color: whitesmoke;
}