body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header .nav-item {
    margin-left: 20px;
}

header .navbar-light a {
    color: black;
    font-size: 24px;
}

    header .navbar-light a.navbar-brand {
        color: red;
        font-size: 28px;
    }

footer a {
    color: black;
    margin-left: 10px;
}

    footer a:hover {
        color: red;
        text-decoration: none;
    }

header .logout {
    margin-left: 20px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-filter {
    color: #a2cabc;
}

.news-item > a {
    color: red;
    font-size: 28px;
}

.news-item > p {
    color: darkslategrey;
    font-size: 20px;
}

.btn-filter, .btn-sort {
    width: 150px;
    height: 45px;
    background-color: white;
    border: none;
    color: red;
    font-size: 26px;
}

.input-search {
    width: 800px;
    height: 45px;
    border: 3px solid gray;
    font-size: 26px;
    border-radius: 4px;
}

.btn-search {
    width: 150px;
    height: 45px;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    font-size: 26px;
    background-color: white;
}

.drop-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

    .dropdown > div {
        padding: 10px;
    }

.news-item > a:hover {
    text-decoration: none;
    color: black;
}
