@{
    ViewBag.Title = "Logoff";
}

<h1>Are you sure?</h1>
@Html.ActionLink("Yes", "LogoffAction", "Account", new { }, new { @class = "btn btn-outline-danger" })
@Html.ActionLink("No", "Index", "Home", new { }, new { @class = "btn btn-outline-primary" })